*{
    padding: 0;
    margin: 0;
}


.container{
    width: 1140px;
    margin: 0 auto;
}

      /*header section*/
      header{
        background-color: #FFFFFF;
        width: 100%;
        float: left;
        position: fixed;
        height: 56px;
        
        }
        .logo{
        
        width: 30%;
        float: left;
        
        }
        
        .logo img{
            padding: 2px;
            width: 200px;
        
        
        }
        .menu{
          
        width: 70%;
        float: left;
        }
        
        
        nav ul{
        list-style: none;
        padding: 10px;
        }
        
        
        nav ul li{
        display: inline-block;
        margin: 5px 15px;
        
        
        }
        
        nav ul li a {
        
            text-decoration: none;
        color: #1D1F25;
        font-size: 15px;
        
        }
        .fas fa-sign-in-alt{
        
        padding: 10px;
        
        }
    
        /*image section*/


        .banner{

         width: 100%;
         float: left;
background: url(../img/people-2557396_1920.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 588px;
margin: 54px 0px;
position: relative;

}


.content{

   

    padding: 133px 47px;
    position: absolute;
    margin: 79px 262px;
    border-radius: 50px;
}

.content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.938);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.banner .content p{
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner .content ul{
    list-style: none;
}
.banner .content ul li{
    display: inline-block;
    padding: 6px 18px;
}
.banner .content ul li button{
    background-color: #85CD43;
    color: rgb(255, 255, 255);
    border: none;
    padding: 7px 33px;
    margin: 18px 29px;
    font-weight: bold;
    border-radius: 2px;
}


.details{
    width: 100%;
    float: left;
    background-color: #FFFFFF#1B1C1D;
}

.concept{
    width: 25%; 
    float: left;
}

.fas.fa-check{
    margin: 6px 104px;
    padding: 16px;
    font-size: 36px;
    background: #095169;
    border-radius: 41px;
    color: white;
}

.concept h2{
    text-align: center;
    padding: 5px;
    color: black;
}
.concept p{
    padding: 6px 14px;
    text-align: justify;
    color: black;
    text-align: center;
}

.concept button{
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    margin: 8px 91px;
    background: #ffffff;
    border:rgb(255, 255, 255)
    color: black;
    border-radius: 5px;
}


.loan{
    width: 25%; 
    float: left;


}
.fas.fa-map-marker-alt{
    margin: 6px 104px;
    padding: 16px;
    font-size: 39px;
    background: #059B9A;
    border-radius: 41px;
    color: white;
}
.loan h2{
    text-align: center;
    padding: 5px;
    color: black;
}

.loan p{
    padding: 6px 14px;
    text-align: justify;
    color: black;
    text-align: center;
}

.loan button{
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    margin: 8px 91px;
    background: #ffffff;
    border:rgb(255, 255, 255)
    color: black;
    border-radius: 5px;
}

.financing{
    width: 25%; 
    float: left;


}
.far.fa-money-bill-alt {
    margin: 6px 104px;
    padding: 16px;
    font-size: 36px;
    background: #53BA83;
    border-radius: 72PX;
    color: white;
}
.financing h2{
    text-align: center;
    padding: 5px;
    color: black;
}

.financing p{
    padding: 6px 14px;
    text-align: justify;
    color: black;
    text-align: center;
}

.financing button{
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    margin: 8px 91px;
    background: #ffffff;
    border:rgb(255, 255, 255)
    color: black;
    border-radius: 5px;
}


.sign-up{
    width: 25%; 
    float: left;


}
.fas.fa-user-plus{
    margin: 6px 104px;
    padding: 16px;
    font-size: 36px;
    background: #9FD86B;
    border-radius: 41px;
    color: white;
}
.sign-up h2{
    text-align: center;
    padding: 5px;
    color: black;
}

.sign-up p{
    padding: 6px 14px;
    text-align: justify;
    color: black;
    text-align: center;
}

.sign-up button{
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    margin: 8px 91px;
    background: #ffffff;
    border:rgb(255, 255, 255)
    color: black;
    border-radius: 5px;
}

.pic{
width: 100%;
float: left;
padding-top: 20px;

}


.pic img{

display: block;
margin: 0 auto;


}

.about{
width: 100%;
float: left;

}
.about-one{
    width: 27%;
    float: left;
    background: #B7CCD3;
    padding: 15px 36px;
    margin: 25px 81px;
}

.fas.fa-circle-notch{
    color: #37ca37;
    font-size: 12px;
    margin-right: 7px;
}

.about-one h2{
    margin: 11px 23px;
}

.about-one ul{
list-style: none;
}

.about-one ul li{
    padding: 4px 15px;
}

.about-one button{
    margin: 7px 18px;
    padding: 6px 6px;
    text-transform: uppercase;
    font-weight: bold;
    background: #37ca37;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

.about-two{
    width: 27%;
    float: left;
    background: #B4E1E1;
    padding: 15px 36px;
    margin: 25px 81px;
}

.about-two h2{
    margin: 11px 23px;
}

.about-two ul{
    list-style: none;
}

.about-two ul li{
    padding: 4px 15px;
}

.about-two button{
    margin: 7px 18px;
    padding: 6px 6px;
    text-transform: uppercase;
    font-weight: bold;
    background: #37ca37;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

.blog{

width: 100%;
float: left;

}

.blog .text{
color: #2BBA6D;
    font-size: 35px;
    padding: 13px 1px;
    margin: 0px 500px;
    text-align: center;

}



.blog .blog-1{

    width: 45%;
    float: left;
    padding: 15px 20px;

}



.blog h2{
    color: #2BBA6D;
    padding: 7px 0px;


}

.blog p{
    padding: 2px 2px;
}


.blog button{
    background: #37ca37;
    border: none;
    padding: 4px 8px;
    color: white;
    margin: 5px 206px;
}

.blog .blog-2{
    width: 45%;
    float: left;
    padding: 15px 13px;
    }
    
    .blog-2 h2{
        color: #2BBA6D;
        padding: 0px 0px;
        margin: 10px 5px;
    }
    
    .blog-2 p{
        margin: 1px 5px;
    }
    
    
    .blog-2 button{
        background: #37ca37;
        border: none;
        padding: 4px 8px;
        color: white;
        margin: 5px 206px;
    }
    

    .lent{

    width: 100%;
    float: left;
    background: #b8b1b1;
    text-align: center;
    padding: 20px 0px;
    margin: 25px 0px;
    font-weight: bold;
    }

                    /* pilot section*/

.pilot{
    width: 100%;
    float: left;
    text-align: center;
}

.pilot .fas.fa-star{
    color: #1eb0b0;
    padding: 8px 4px;
    font-size: 26px;
}

.pilot h4{
    display:inline-block;
    font-size: 19px;
}

.pilot ul{
list-style: none;
}

.pilot ul li{
    display: inline-block;
}

.pilot ul li .far.fa-star{
    background: #73CF11;
    color: white;
    font-size: 42px;
    padding: 4px;
    margin: 6px 0px;
}

.pilot p{
    padding-bottom: 10px;
}

    /* dansk section */

    .dansk{
        width: 100%;
        float: left;
        background: rgba(12, 12, 12, 0.555);
        margin-top: 13px;
    }
    
    .dansk img{
        width: 100%;
        height: auto;
        margin-left: 35px;
        margin-top: 10px;
    }
    
    .dansk h5{
        color: white;
        text-align: center;
        font-size: 21px;
        padding-top: 24px;
        font-weight: bold;
    }
    
    .dansk p{
        color: black;
        text-transform: capitalize;
        font-size: 22px;
        margin: 15px 42px;
        font-style: oblique;
        font-weight: bold;
    }
    
    .dansk-1{
        width: 15%;
        float: left;
        margin: 0px 22px;
    }
    
    .dansk-2{
        width: 15%;
        float: left;
        margin: 0px 22px;
    }
    
    .dansk-3{
        width: 15%;
        float: left;
        margin: 0px 22px;
    }
    
    .dansk-4{
        width: 15%;
        float: left;
        margin: 0px 22px;
    }
    
    .dansk-5{
        width: 15%;
        float: left;
        margin: 0px 22px;
    }
    
     /*footer*/

.footer{
    width: 100%;
    float: left;
    background: #1B1C1D;
}

.footer-1{
    width: 35%;
    float: left;
    color: white;
    text-align: right;
    padding: 20px 0px;
}

.footer-2{
    width: 65%;
    float: right;
    color:white;
    text-align: center;
    padding: 20px 0px;
}


.finish{

    width: 100%;
    float: left;
    background: #4C515A;
    text-align: center;
    padding: 20px 0px;
    margin: 0 0px;
    font-weight: bold;
    }

    .finish img{

width: 151px;

    }
